@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    color: #F6F6F6;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    padding: 20px 15%;
}

.header-nav {
    display: flex;
    gap: 80px;
}

.header-nav-link {
    font-size: 24px;
    font-weight: 600;
    color: #22D4FD;
    text-decoration: none;
}

.presentacion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3% 15%;
}

.presentacion-texto {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.presentacion-texto-titulo {
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    line-height: 1.5;
}

.parrafo-destaque {
    color: #22D4FD;
}

.presentacion-texto-parrafo {
    font-size: 22px;
    line-height: 1.6;
}

.presentacion-imagen {
    width: 300px;
    height: 400px;
    object-fit: cover;
}

.footer {
    background-color: #22D4FD;
    color: #000000;
    text-align: center;
    padding: 20px;
    font-size: 24px;
}